input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  max-width: 100%;
}

input[type="search"] {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-control {
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  color: #555555;
  display: block;
  font-size: 14px;
  height: 42px;
  line-height: 1.42857143;
  padding: 10px 15px;
  width: 100%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: all border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s ease;
  -o-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease;
  transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease;
  &:focus {
    border-color: #282828;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }
  &::-moz-placeholder {
    color: #777777;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: #777777;
  }
}

.form-group {
  margin-bottom: 15px;
}

input[type='text'],
input[type='text']:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

textarea {
  height: 400px;
  margin: 0;
  width: 100%;

  &.form-control {
    height: auto;
  }
  &:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
}

.button-row {
  display: flex;
  justify-content: space-between;

  input.save {
    background-color: transparent;
    border: 2px solid rgba(47, 203, 53, 1);
    border-radius: 8px;
    color: rgba(47, 203, 53, 1);
    cursor: pointer;
    font-weight: 900;
    padding: 3px 100px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;

    &:hover, &:focus {
      background-color: rgba(47, 203, 53, 1);
      box-shadow: 0 0 10px rgba(0, 0, 0, .4);
      color: rgba(#ffffff, .9);
      text-decoration: none;
      text-shadow:
        -3px 0 1px rgba(47, 203, 53, .82),
        0 -3px 1px rgba(48, 167, 249, .88),
        0 3px 1px rgba(255, 251, 78, .85),
        3px 0 1px rgba(249, 74, 82, .91);
    }
  }

  a.delete {
    background-color: transparent;
    border: 2px solid rgba(249, 74, 82, 1);
    border-radius: 8px;
    color: rgba(249, 74, 82, 1);
    cursor: pointer;
    font-weight: 900;
    padding: 3px 100px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;

    &:hover,
    &:focus {
      background-color: rgba(249, 74, 82, 1);
      box-shadow: 0 0 10px rgba(0, 0, 0, .4);
      color: rgba(#ffffff, .9);
      text-decoration: none;
      text-shadow:
        -3px 0 1px rgba(47, 203, 53, .82),
        0 -3px 1px rgba(48, 167, 249, .88),
        0 3px 1px rgba(255, 251, 78, .85),
        3px 0 1px rgba(249, 74, 82, .91);
    }
  }
}
