.search {
  .result {
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    margin-bottom: 2em;
    padding-bottom: 2em;

    .result-title {
      margin-bottom: .5em;
      margin-top: 0;
    }
  }
}
