<!-- View Object
{
    slug : [string] Current URL slug,
    title : [string] Title user was looking for,
}
-->
<div class="before-main-wrapper not-found">
  <div class="header-wrapper">
    <div class="container">
      <div class="header-titles">
        <h1><%= title %></h1>
      </div>
    </div>
  </div>
</div>
<div class="container main-section not-found">
  <div class="content">
    <div class="row">
      <main class="col-sm-12" role="main">
        <p>Sorry, but the document you were trying to view does not exist (yet).</p>
      </main>
    </div>
  </div>
</div>
