<!-- View Object
{
    taggedDocuments = [array] Collection of result documents,
    recentDocuments = [array],
    popularDocuments = [array],
    randomDocuments = [array],
    siteSections = [array],
}
-->
<% if(section && section.title && section.description){ %>
<div class="before-main-wrapper tag">
  <div class="header-wrapper">
    <div class="container">
      <div class="header-titles">
        <h1><%= section.title %></h1>
      </div>
      <p><%= section.description %></p>
    </div>
  </div>
</div>
<% } else { %>
<div class="before-main-wrapper tag">
  <div class="header-wrapper">
    <div class="container">
      <div class="header-titles">
        <h1>Documents Tagged &quot;<%= title %>&quot;</h1>
      </div>
    </div>
  </div>
</div>
<% } %>
<div class="container main-section tag">
  <div class="content">
    <div class="row">
      <main class="col-sm-12" role="main">
        <% if(taggedDocuments && taggedDocuments.length > 0){ %>
          <ul class="tagged-documents">
            <% taggedDocuments.forEach((document) => { %>
            <li>
              <a href="/<%= document.slug %>" title="<%= document.title %>"><%= document.title %></a>
            </li>
            <% }); %>
          </ul>
        <% } else { %>
          <p> No results found for tag</p>
        <% } %>
      </main>
    </div>
    <div class="row">
      <main class="col-sm-12">
        <div class="row content-sections">
          <div class="col-sm-4">
            <div class="section">
              <h2>Recent Documents</h2>
              <% if(recentDocuments && recentDocuments.length > 0){ %>
              <ul class="recent-documents">
                <% recentDocuments.forEach((document) => { %>
                <li>
                  <a href="/<%= document.slug %>" title="<%= document.title.trim() %>"><%= document.title.trim() %></a>
                </li>
                <% }); %>
              </ul>
              <% } %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="section">
              <h2>Popular Documents</h2>
              <% if(popularDocuments && popularDocuments.length > 0){ %>
              <ul class="popular-documents">
                <% popularDocuments.forEach((document) => { %>
                <li>
                  <a href="/<%= document.slug %>" title="<%= document.title.trim() %>"><%= document.title.trim() %></a>
                </li>
                <% }); %>
              </ul>
              <% } %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="section">
              <h2>Random Documents</h2>
              <% if(randomDocuments && randomDocuments.length > 0){%>
              <ul class="random-documents">
                <% randomDocuments.forEach((document) => { %>
                <li>
                  <a href="/<%= document.slug %>" title="<%= document.title.trim() %>"><%= document.title.trim() %></a>
                </li>
                <% }); %>
              </ul>
              <% } %>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
